{% extends "aristotle_mdr/static/about_base.html" %}

{% block title %}All Items{% endblock %}
{% block item_name %}All Items{% endblock %}
{% block breadcrumbs %}
    <li><a href="#">About</a></li>
    <li><a href="#">All Items</a></li>
{% endblock %}
{% block definition %}
<div>
    Below is a list of items with help pages from this registry
    {% if models.items|length > 1 %} and the extension in which it is defined.{% endif %}
    Help for each item
    {% if models.items|length > 1 %} or extension {% endif %}
    is available by clicking its name.

<dl>
{% for label,app in models.items %}
<dt>                {% if app.about_url %}
                    <a href="{{ app.about_url }}">{{ app.verbose_name }}</a>
                {% else %}
                    {{ app.verbose_name }}
                {% endif %}
</dt><dd>
    <ul>
    {% for m in app.mymodels %}
        {% with model=m.model_class %}
            {% if model.help_name %}
            <li>
                <a href="{% url 'aristotle:about' model.help_name %}">{{ model.get_verbose_name }}</a>
            </li>
            {% endif %}
        {% endwith %}
    {% endfor %}
    </ul></dd>
{% endfor %}
</dl>
</div>
{% endblock %}
