{% extends "aristotle_mdr/static/about_item_base.html" %}
{% block title %}About: Data Element{% endblock %}
{% block item_name %}Data Element{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'aristotle:about' 'concept11179' %}">Concept</a></li>
{% endblock %}

{% block iso_quote %}
unit of knowledge created by a unique combination of characteristics
{% endblock %}

{% block description %}

<p>
    The <em>concept</em> is the core object in the ISO/IEC 11179 standard, from which all other item types are based on.
    By adding additional relations and attributes to the concept object, new items can be created.
</p>

{% endblock %}
