{% extends "aristotle_mdr/static/about_item_base.html" %}
{% block title %}About: Data Element{% endblock %}
{% block item_name %}Data Element{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'aristotle:about' 'datatype' %}">Data Type</a></li>
{% endblock %}

{% block iso_quote %}
set of distinct values, characterized by properties of those values and by operations on those values. (3.1.8)
{% endblock %}

{% block definition %}

<P> A datatype is a set of distinct values,characterized by properties of those values and by operations on those values (ISO/IEC 11404).</P>

<p><em>Primative datatypes</em> are those "that cannot be decomposed into other datatypes without loss of associated semantics "</p>
{% endblock %}
