{% extends "aristotle_mdr/static/about_item_base.html" %}
{% block title %}About: Data Element Derivation{% endblock %}
{% block item_name %}Data Element Derivation{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'aristotle:about' 'dataelementderivation' %}">Data Element"</a></li>
{% endblock %}

{% block iso_quote %}
application of a <strong>derivation rule</strong> to one or more input
<strong><a href="{% url 'aristotle:about' 'dataelement' %}">data elements</a></strong>
to derive one or more output data elements.
{% endblock %}

{% block definition %}

<p>A data element derivation is a formal description of how a particular data element can calculated
based on the values of other data elements.</p>

<p>For example, a data element describing a <em>Person-Body Mass Index, BMI Value</em> can be derived from
the data elements <em>Person-Weight, Kg</em> and <em>Person-Height, cm</em> according to the derivation rule
<tt>BMI = Weight/Height<sup>2</sup></tt>.
</p>

{% endblock %}
