{% extends "aristotle_mdr/static/about_item_base.html" %} 
{% block title %}About: Measure{% endblock %}
{% block item_name %}Measure{% endblock %} 

{% block breadcrumbs %}
<li><a href="{% url 'aristotle:about' 'measure' %}">Measure</a></li> 
{% endblock %} 

{% block iso_quote %} 
Set of equivalent units of measure for association with one or more dimensionalities.
{% endblock %} 

{% block definition %}

<P>A measure is an abstract concept of how things may be measured, for example time, length or weight.</P>
 
{% endblock %}
