{% extends 'aristotle_mdr/base.html' %}



{% block title %}Browsing Data Element Concepts based on {{ objectClass.name }}{% endblock %}
{% block content %}
<section class="unmanaged row">
    <h1>
        <a href="#">Browsing Data Element Concepts based on {{ objectClass.name }}</a>
    </h1>
<strong>About <em>{{ objectClass.name }}</em></strong>
<div id="definition">
    {{ objectClass.definition | safe }}
</div>
{% if items %}
<p>
    This is a list of all visible data element concepts based on the object class
    <a href="{% url 'aristotle:item' iid=objectClass.id %}"><em>{{ objectClass.name }}</em></a>.
    Click the name of any item below to see associated data element concepts.
</p>
    <dl class='browse'>
    {% for i in items %}
        <dt>
            <a href="{% url 'aristotle:browse' oc_id=objectClass.id dec_id=i.id %}-{{ i.property.name|slugify }}">{{ i.property.name }}</a>
            <small>(<a href="{% url 'aristotle:browse' oc_id=objectClass.id dec_id=i.id %}">{{ i.name }}</a>)</small>
        </dt>
        <dd>
            {{ i.definition|truncatewords:20|striptags }}
        </dd>
    {% endfor %}
    </dl>
{% else %}
    <em>No data element concepts are based on this Object Class.</em>
{% endif %}
</section>

{% endblock %}
