language: python
python:
  - "2.7"
#  - "3.5" # No 3 support for notifications, yet.

services:
  - postgresql
  - redis-server
  - elasticsearch
  - mysql

env:
  - DJANGO_VERSION='1.8,<1.9' DB=sqlitefile   SEARCH=whoosh
  - DJANGO_VERSION='1.8,<1.9' DB=postgres     SEARCH=whoosh
  - DJANGO_VERSION='1.8,<1.9' DB=sqlitefile   SEARCH=elasticsearch
  - DJANGO_VERSION='1.8,<1.9' DB=postgres     SEARCH=elasticsearch
  # Possible failures:
  - DJANGO_VERSION='1.8,<1.9' DB=mysql        SEARCH=whoosh
  - DJANGO_VERSION='1.8,<1.9' DB=mysql        SEARCH=elasticsearch
  - DJANGO_VERSION='1.8,<1.9' DB=sqlitefile   SEARCH=whoosh  VARIANT=haystack
  - DJANGO_VERSION='1.8,<1.9' DB=sqlitefile   SEARCH=elasticsearch  VARIANT=haystack
#   - DJANGO_VERSION='1.10,<1.11' DB=sqlitememory
#   - DJANGO_VERSION='1.10,<1.11' DB=sqlitefile
#   - DJANGO_VERSION='1.10,<1.11' DB=postgres

before_install:
  - pip install codecov
  - pip install pep8

before_script:
# Make a posgres database, run PEP tests, check documentation builds cleanly.
  - if [[ $DB == mysql ]]; then mysql -e 'create database aristotle_test_db;' -u root ; fi
  - if [[ $SEARCH == elasticsearch ]]; then sleep 10; fi
  - if [[ $SEARCH == elasticsearch ]]; then pip install 'elasticsearch>2.0,<5.0'; fi
  - if [[ $DB == postgres ]]; then psql -c 'create database aristotle_test_db;' -U postgres; fi
  - pep8 --exclude=migrations,tests,example_mdr,'aristotle_mdr/contrib/search_backends/elasticsearch2.py' --ignore=E501,E225,E123 aristotle_mdr
  - cd docs ; sphinx-build -nW -b html -d _build/doctrees . _build/html ; cd ..
  - pip list

install:
  - "pip install --upgrade pip"
  - "pip uninstall setuptools -y && pip install setuptools" # needed for updated version of html5lib
  - if [[ $DB == postgres ]]; then pip install -q psycopg2; fi
  - if [[ $DB == mysql ]]; then pip install -q mysqlclient; fi
#  - if [[ $DB == mysql ]]; then pip install -q mysql-python; fi
  - pip install 'Django>$DJANGO_VERSION' # So we can test multiple versions (once we support that)
  - "pip install -r requirements-test.txt"
  - "pip install ."
  - pip install 'Django>$DJANGO_VERSION' # So we can test multiple versions (once we support that)
# Tell us exactly what versions we are running on!

# command to run tests
script:
# Start a few workers
  - ./manage.py runworker --settings=aristotle_mdr.tests.settings.settings > worker1.log 2>&1 &
  - coverage run --branch --source=aristotle_mdr manage.py test aristotle_mdr.tests --settings=aristotle_mdr.tests.settings.settings;
  - cat worker1.log
after_success:
  - coveralls
  - codecov
  - pep8 --exclude=migrations --ignore=E501,E225,E123 aristotle_mdr

# Lets run on the new infrastructure
sudo: false

addons:
  code_climate:
    repo_token: ac63d774ebdd641ef502acf1588b36248726a28a50e4e1f4ba4295a157477f54
  apt:
    sources:
      - elasticsearch-2.x
    packages:
      - elasticsearch

matrix:
  allow_failures:
    - env: DJANGO_VERSION='1.8,<1.9' DB=mysql        SEARCH=whoosh
    - env: DJANGO_VERSION='1.8,<1.9' DB=mysql        SEARCH=elasticsearch
    - env: DJANGO_VERSION='1.8,<1.9' DB=sqlitefile   SEARCH=elasticsearch  VARIANT=haystack
    - env: DJANGO_VERSION='1.8,<1.9' DB=sqlitefile   SEARCH=whoosh  VARIANT=haystack
