include LICENSE
include README.rst
recursive-include aristotle_mdr/contrib *
recursive-include aristotle_mdr/locale *
recursive-include aristotle_mdr/static *
recursive-include aristotle_mdr/templates *
recursive-exclude aristotle_mdr/ *.pyc
exclude MANIFEST.in
exclude aristotle_mdr/contrib/help/static/aristotle_mdr
exclude aristotle_mdr/static/aristotle_mdr
exclude aristotle_mdr/static/bootstrap3_datetime
