{% load i18n %}
{% load aristotle_tags %}

{% if wrap %}
<div class="btn-group">
{% endif %}

{% if request.user.is_active %}
    {% for name,action in bulk_actions.items %}
        {% if name in hidden_actions %}
        {% elif request.user|can_use_action:name %}
            <button class="btn btn-primary" type="submit" name="bulkaction" value="{{name}}">
                <i class="fa {{ action.classes }}"></i>
                {{ action.text }}
            </button>
        {% endif %}
    {% endfor %}
{% endif %}

{% if wrap %}
</div>
{% endif %}
