<footer class="footer">
    <div class="container">
    <div>
        <a href="{% url 'aristotle:accessibility' %}">Accessibility</a>
        <a href="{% url 'aristotle_help:help_base' %}">Help</a>
    </div>
    {# Removing or altering the following line may breach your licence #}
    {# If you extend this file make sure the following link is retained in your footer #}
    <span id="credit">
        Powered by the <a href="https://github.com/aristotle-mdr/aristotle-metadata-registry">Aristotle Metadata Registry</a>
    </span>
    </div>
</footer>