{% extends "aristotle_mdr/user/userHome.html" %}

{% load humanize i18n %}

{% block collapse-link%}
    <i class="fa fa-users fa-fw"></i> {{ workgroup.name }}</a>
{% endblock %}
{% block workgroupSub %}
<ul class="nav nav-pills nav-stacked nav-collapse">
    <li class="active">
        <a href="#">
        <i class="fa fa-home fa-fw"></i> {{ workgroup.name }}</a>
    </li>
</ul>
{% endblock %}
{% block sidebar %}
    {% include "aristotle_mdr/user/userSideBar.html" with subWorkgroup=item %}
{% endblock %}

{% block page %}
<h1>{% block title %}{{ workgroup.name }}{% endblock %}</h1>
<div class="row">

<aside id="infoBox" class="col-xs-12 col-sm-4 pull-right">
{% if user in workgroup.members %}
<a href="{% url 'aristotle:workgroup_leave' workgroup.id %}" class="btn btn-warning"><i class="fa fa-user-times"></i> {% trans 'Leave Workgroup'%}</a>
{% endif %}
{% if workgroup.archived %}
    <div class="alert alert-warning">
        {% trans 'This workgroup is archived.' %}
        {% if request.user in workgroup.managers or request.user.is_superuser %}
        <a data-toggle="modal" data-target="#archive_modal" class="btn btn-sm btn-default" href="{% url 'aristotle:archive_workgroup' workgroup.id %}">
            <i class="fa fa-folder-open"></i> {% trans 'Reactivate this workgroup' %}</a>
        {% endif %}
    </div>
    {% else %}
    <div class="alert alert-success">
        {% trans 'This workgroup is active.' %}
        {% if request.user in workgroup.managers or request.user.is_superuser %}
        <a data-toggle="modal" data-target="#archive_modal" class="btn btn-sm btn-default" href="{% url 'aristotle:archive_workgroup' workgroup.id %}">
            <i class="fa fa-archive"></i> {% trans 'Archive this workgroup' %}</a>
        {% endif %}
    </div>
    {% endif %}
    {% if request.user in workgroup.managers or request.user.is_superuser %}
    <div id="archive_modal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endif %}

    <section id="items">
    <header>{% trans 'Recently changed items' %}</header>
        <ul>
            {% for item in recent %}
            <li>{% include "aristotle_mdr/helpers/itemLink.html" with item=item %} ({{ item.get_verbose_name }})
                <br><small>{% trans 'Modified' %} {{ item.modified|naturaltime }}</small>
            </li>
            {% endfor %}
        </ul>
    </section>
</aside>

<div class="col-sm-8">
    <div>
        {{ workgroup.definition | safe }}
    </div>
    <h2>Details</h2>
    <dl>
        
        <dt>Managers
            {% if user_is_admin %}
                <a data-toggle="modal" data-target="#addMember" href="{% url 'aristotle:addWorkgroupMembers' workgroup.id %}" class="inline_action">Add</a>
            {% endif %}
        </dt>
        <dd>
            {% for member in workgroup.managers.all %}
                {{ member.first_name }} {{ member.last_name }}({{ member.username }}){% if member.profile.is_registrar %}*{% endif %}{% if not forloop.last %},{% endif %}
            {% empty %}
                <em>No active managers</em>
            {% endfor %}
        </dd>
        <dt>Members</dt>
        <dd>
            <a href="{% url 'aristotle:workgroupMembers' item.id %}">
                {% with total=workgroup.members.count %}
                    {% comment %} Cache the count then reuse for performance.{% endcomment %}
                    {{ total }} current member{{ total|pluralize }}
                {% endwith %}
            </a>
        </dd>
        <dt>Items</dt>
        <dd>
            <a href="{% url 'aristotle:workgroupItems' iid=item.id %}">
                {% with total=workgroup.items.count %}
                    {% comment %} Cache the count then reuse for performance.{% endcomment %}
                    {{ total }} current item{{ total|pluralize }}
                {% endwith %}
            </a>
            <p>
            {% blocktrans %}
            Breakdown by status - items may be counted twice if they have been registered by multiple
            registration authorities.
            {% endblocktrans %}
            <ul>
                {% for a,b in counts %}
                <li>{{a}} - {{b}}</li>
                {% endfor %}
            </ul>
            </p>
        </dd>
    </dl>

    <h2>Recent conversations</h2>
    <a href="{% url 'aristotle:discussionsWorkgroup' item.id %}">View all posts.</a>
    {% include 'aristotle_mdr/discussions/discussion_list.html' with discussions=item.discussions.all|slice:":5" %}

    </div>
</div>

<div id="addMember" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>
{% endblock %}
