{% extends 'aristotle_mdr/base.html' %}
{% load humanize i18n %}
{% load static compile_static %}
{% load aristotle_tags %}

{% block extra_head_scripts %}
    {% if item|can_edit:request.user %}
        <link rel="stylesheet" href="{{ STATIC_URL }}{% compile 'aristotle_mdr/aristotle.autocomplete.less' %}" />
    {% endif %}
    <link rel="stylesheet" href="{{ STATIC_URL }}{% compile 'aristotle_mdr/aristotle.visuals.less' %}" />
{% endblock %}

{% block title %}
    {{ item.name }}
    {% if item.version %}
        - v{{ item.version }}
    {% endif %}
    ({{ item.get_verbose_name }})
{% endblock %}
{% block content %}
<header class="row">
    <h1 id="objectTitle"  class="pull-left">
        <a href="#">{{ item.name }}</a>
        {% if item.version %}
        <em class="version" title="{% trans 'Version'%} {{ item.version }}">
            {{ item.version }}
        </em>
        {% endif %}
        <small>({{ item.get_verbose_name }})</small>

        {# Screen reader quick links #}
        {% if item|can_edit:request.user and request.user.is_staff %}
            <a class="sr-only" accesskey="p" href="{% adminEdit item %}">{% trans 'Edit in admin'%}</a>
        {% elif item|can_edit:request.user %}
            <a class="sr-only" accesskey="e" href="{% url 'aristotle:edit_item' item.id %}">{% trans 'Open item editor'%}</a>
        {% endif %}
    </h1>
    <div class="btn-group pull-right">
        {% if user.is_authenticated %}
        <a class="btn btn-default favourite" href="{% url 'aristotle:toggleFavourite' item.id %}"
            title="{% ternary isFavourite 'Remove from my favourite items' 'Add to my favourite items' %}">
            {% if isFavourite %}
                <i class="fa fa-bookmark "></i>
            {% else %}
                <i class="fa fa-bookmark-o "></i>
            {% endif %}
        </a>
        {% endif %}
        {% if item|can_edit:request.user %}
            {% if request.user.is_staff %}
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-pencil-square-o"></i> {% trans 'Edit'%} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a class="" href="{% url 'aristotle:edit_item' item.id %}"
                                    data-toggle="modal" data-target="#infobox_adv_edit">
                        <i class="fa fa-pencil-square-o"></i> {% trans 'Open item editor'%}
                    </a></li>
                    <li><a class="staff_action" href="{% adminEdit item %}">
                        <i class="fa fa-pencil-square"></i> {% trans 'Edit in admin'%}
                    </a></li>
                    {# % endif % #}
                    <li class="divider"></li>
                    <li><a class="" href="{% url 'aristotle:clone_item' item.id %}">
                        <i class="fa fa-code-fork"></i> {% trans 'Clone this item'%}
                    </a></li>
                    {% if request.user.is_staff %}
                    <li><a class="staff_action" href="{% clone item %}">
                        <i class="fa fa-code-fork"></i> {% trans 'Clone this item via admin'%}
                    </a></li>
                    {% endif %}
                  </ul>
                </div>
            {% else %}
                <button class="btn btn-default" href="{% url 'aristotle:edit_item' item.id %}"
                        accesskey='e'
                        data-toggle="modal" data-target="#infobox_adv_edit">
                    <i class="fa fa-pencil-square"></i> {% trans 'Edit'%}
                </button>
            {% endif %}
            {% bootstrap_modal "infobox_adv_edit" size='lg' %}
        {% endif %}
        <div class="btn-group">
            <button accesskey="d" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-download"></i> {% trans 'Download'%} <span class="caret"></span>
            </button>
            {% downloadMenu item %}
        </div>
    </div>
</header>
<section class="managed row">
    {% include "aristotle_mdr/concepts/infobox.html" %}
    {% if item.is_superseded  %}
        <div id="progress" class=" alert alert-info">
            {% trans 'This item has been superseded by the newer version,'%}
            <em>{% include "aristotle_mdr/helpers/itemLink.html" with item=item.superseded_by %}</em>.
        </div>
    {% elif item.is_retired %}
        <div id="progress" class=" alert alert-warning">
            {% trans 'This item has been retired and is not recommended for use by any registration authority.'%}
        </div>
    {% elif item.is_public %}
        {# split the if condition as if its public and not technical, we want nothing not one of the lower alerts #}
        <div id="progress" class='alert alert-success hidden'>
            {% trans 'This item is currently public.'%}
        </div>
    {% elif item.is_locked %}
        <div id="progress" class=" alert alert-info">
            {% trans 'This item is currently under development.'%}
        </div>
    {% else %}
        <div id="progress" class=" alert alert-warning">
            {% trans 'This item is under active development. Content may change frequently.'%}
        </div>
    {% endif %}
    {% if not item.is_registered %}
    <div id="review" class=" alert alert-info">
        <strong>
        {% if item.readyToReview %}
            <i class="fa fa-flag"></i> {% trans 'This item has been marked as ready to review, but has not yet been registered in an authority.'%}
        {% else %}
            <i class="fa fa-flag-o"></i> {% trans 'The visibility of this item is still restricted to your current workgroup.'%}
        {% endif %}
        </strong>

        {% if item|can_edit:request.user %}
        {% blocktrans %}
        <p>You can control the visibility of this item by indicating its review status.
        If an item is marked "ready for review", registrars will be able to see this item and
        begin the standardisation process according to their registration authority.
        </p>
        {% endblocktrans %}
        <a class="btn btn-default" href="{% url 'aristotle:mark_ready_to_review' item.id %}"
            data-toggle="modal" data-target="#r2r_modals">
            {% if item.readyToReview %}
                <i class="fa fa-flag-o"></i> {% trans 'Remove ready for review flag' %}
            {% else %}
                <i class="fa fa-flag"></i> {% trans 'Flag as ready for review' %}
            {% endif %}
        </a>
        {% endif %}
    </div>
    {% bootstrap_modal "r2r_modals" %}
    {% endif %}
    <h2 title="{% doc item 'definition' %}">{% trans 'Definition'%}</h2>
    <div id="definition" class="definition">
        {{ item.definition | safe}}
    </div>
    {% if item.short_name or item.synonyms %}
    <h3>Alternate names:</h3>
    <dl id="alternate_names">
        {% if item.short_name %}
        <dt>{% trans 'Short name'%}</dt><dd>{{ item.short_name }}</dd>
        {% endif %}
        {% if item.synonyms %}
        <dt>{% trans 'Synonyms'%}</dt><dd>{{ item.synonyms }}</dd>
        {% endif %}
    </dl>
    {% endif %}

    {% block objSpecific %}{% endblock %}

    {% if item.comments %}
        <h2>Comments</h2>
        {{ item.comments | safe }}
    {% endif %}

    {% if item.references %}
    <div>
    <h2>References</h2>
        <p>{{ item.references | safe }}</p>
        {% if item.submitting_organisation %}
        <h3>Submitting Organisation</h3>
            <p>{{ item.submitting_organisation }}</p>
        {% endif %}
        {% if item.responsible_organisation %}
        <h3>Responsible Organisation</h3>
            <p>{{ item.responsible_organisation }}</p>
        {% endif %}
    </div>
    {% endif %}
    <h2>Related content</h2>
        {% block relationships %}{% endblock %}
        {% for extension in config.CONTENT_EXTENSIONS %}
            {% extra_content extension item request.user %}
        {% endfor %}
    </div>
</div>

</section>
{% endblock %}
