{% load i18n aristotle_tags %}

<div class="col-sm-8 col-xs-12">
{% if item.is_superseded  %}
    <div id="progress" class=" alert alert-info">
        {% trans 'This item has been superseded by the newer version'%} - 
        <em>{% include "aristotle_mdr/helpers/itemLink.html" with item=item.superseded_by %}</em>.
    </div>
{% elif item.is_retired %}
    <div id="progress" class=" alert alert-warning">
        {% trans 'This item has been retired and is not recommended for use by any registration authority.'%}
    </div>
{% elif item.is_public %}
    {# split the if condition as if its public and not technical, we want nothing not one of the lower alerts #}
    <div id="progress" class='alert alert-success hidden'>
        {% trans 'This item is currently public.'%}
    </div>
{% elif item.is_locked %}
    <div id="progress" class=" alert alert-info">
        {% trans 'This item is currently under development.'%}
    </div>
{% else %}
    <div id="progress" class=" alert alert-warning">
        {% trans 'This item is under active development. Content may change frequently.'%}
    </div>
{% endif %}
</div>