{% extends "aristotle_mdr/user/userHome.html" %}
{% load i18n %}

{% block collapse-link %}
    <i class="fa fa-users fa-fw"></i> My Workgroups </a>
{% endblock %}

{% block sidebar %}
    {% include "aristotle_mdr/user/userSideBar.html" with activeTab='workgroupArchives' %}
{% endblock %}

{% block page %}
<h1>{% block title %}My Workgroup Archives{% endblock %}</h1>
<section id="workgroups">
    <p>Below is a list of archived workgroups of which you are a member.
    New items cannot be created in these workgroups,
    and new posts or comments can be created within the discussion area for workgroup.
    </p>
    <p>To see a list of only active workgroups,
    go to <a href="{% url 'aristotle:userWorkgroups'%}">My Workgroups.</a></p>

    {% include "aristotle_mdr/helpers/paginated_workgroup_list.html" with page=page %}
</section>
{% endblock %}
