{% extends "aristotle_mdr/user/userHome.html" %}
{% load inplace_edit i18n %}

{% block collapse-link %}
    <i class="fa fa-users fa-fw"></i> My Workgroups </a>
{% endblock %}

{% block sidebar %}
    {% include "aristotle_mdr/user/userSideBar.html" with activeTab='workgroups' subWorkgroups=user.profile.myWorkgroups.all %}
{% endblock %}

{% block page %}
<h1>{% block title %}My Workgroups{% endblock %}</h1>
    <section id="workgroups">
        <header>Recent Workgroups</header>

<table class='table'>
    <thead>
        <tr>
            <th>Workgroup</th>
            <th>
                <i class="fa fa-users" title="Number of members"></i>
            </th>
            <th>
                <i class="fa fa-file" title="Number of items"></i>
            </th>
            {% if archived %}
            <th>
                <i class="fa fa-file" title="Number of items"></i>
            </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for wg in user.profile.myWorkgroups.all %}
        <tr>
            <td>
                <a href="{% url 'aristotle:workgroup' wg.id %}">{{ wg }}</a> -
                <span>{{ wg.description|striptags }}</span>
            </td>
            <td>
                {{ wg.members.count }}
            </td>
            <td>
                {{ wg.items.count }}
            </td>
            {% if archived %}
            <td>
                {% if wg.archived %}
                    {% trans "Archived" %}
                {% else %}
                    {% trans "Active" %}
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</section>
{% endblock %}
