{% extends "aristotle_mdr_browse/base.html" %}
{% load aristotle_tags aristotle_help %}

{% block title %}Concept browser{% endblock %}

{% block breadcumbs %}
    <li class="active">Concept browser</li>
{% endblock %}

{% block object_list %}

{% for app,app_models in apps.items %}
<h2>
    <a href="{% url 'browse_models' app %}">{{ app_models.app }}</h2></a>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
    {% for m,model in app_models.models %}
        {% if model.help_name %}
        <tr>
        <td>
            <a href="{% url 'browse_concepts' m.app_label m.model %}">
                {{ model.get_verbose_name }}
            </a>
        </td>
        <td>{% help_doc model 'brief' %}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
    
    </table>
{% endfor %}

{% endblock %}
