{% extends "aristotle_mdr_browse/base.html" %}
{% load i18n aristotle_tags aristotle_help %}

{% block breadcumbs %}
    <li><a href="{% url 'browse_apps'  %}">Concept browser</a></li>
    <li><a href="{% url 'browse_models' app.label %}">{{app.verbose_name}}</a></li>
    <li class="active">{{ model.get_verbose_name_plural }}</li>
{% endblock %}

{% block object_list %}

    <p>
        <em>{{ model.get_verbose_name }} - </em>
        {% help_doc model 'brief' %} 
        - <a href="{% url 'aristotle_help:concept_help' app.label model_name %}">Read more about {{ model.get_verbose_name_plural }}</a>
    </p>

{% include "aristotle_mdr/helpers/bulk_action_paginated_list.html" with page=page_obj allow_select_all=True %}

{% endblock %}
