{% extends 'aristotle_mdr/base.html' %}

{% block title %}All organizations{% endblock %}
{% block content %}
<header class="row">
    <h1 id="objectTitle"  class="pull-left">
        <i class="fa fa fa-university "></i>
        <a href="#">Current organizations</a>
    </h1>
</header>
<section class="row">

{% if orgs.count > 0 %}
<p>
    Below is a complete listing of the <a href="{% url 'aristotle_help:help_page' 'organization' %}">organizations authorities</a>
    partcipating in the registry mainitained by this site.
</p>
    <ul>
        {% for org in orgs %}
        <li>
        <a href="{% url 'aristotle:organization' org.id '' %}">{{ org.name }}</a>
        <div>
            {{ org.definition | striptags |truncatewords:50 }}
        </div>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <strong>
        <em>This registry has no organizations!</em>
    </strong>
{% endif %}

</section>
{% endblock %}
