{% load i18n %}

{{ form.errors }}

<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#definition" aria-controls="home" role="tab" data-toggle="tab">{% trans 'Definition' context 'creating items' %}</a>
        </li>

        <li role="presentation">
            <a href="#names" aria-controls="profile" role="tab" data-toggle="tab">Names & References</a>
        </li>
        <li role="presentation">
            <a href="#objSpecific" aria-controls="messages" role="tab" data-toggle="tab">{{ model_name|title }} {% trans 'Components' context 'For making an item' %}</a>
        </li>
        {% if form.change_comments %}
        <li role="presentation">
            <a href="#changeComments" aria-controls="messages" role="tab" data-toggle="tab"><strong>{% trans 'Change message' context 'When saving changes to an item' %}</strong></a>
        </li>
        {% endif %}
        {% if help_guide %}
        <li role="presentation">
            <a href="#tips" aria-controls="messages" role="tab" data-toggle="tab">{% trans 'Tips' context 'creating items' %}</a>
        </li>
        {% endif %}
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="definition">
            <div class="alert alert-warning">
                <strong>These fields help identify and define the item.</strong>
                A name and definition are required, but adding a version is optional.
            </div>
            <div class="fancy_name_version">
                <div class="wizard_field name">
                    <span>{{ form.name.label_tag }}</span>
                    {% if form.name.errors %}
                    <span class="alert alert-danger">
                        {{ form.name.errors }}
                    {% endif %}
                        {{ form.name }}
                        <div>
                         {{ form.name.help_text }}
                        </div>
                    {% if form.name.errors %}
                        </span>
                    {% endif %}
                </div>
                <div class="wizard_field version">
                    <span>{{ form.version.label_tag }}</span>
                    {% if form.version.errors %}
                    <span class="alert alert-danger">
                        {{ form.version.errors }}
                    {% endif %}
                    {{ form.version }}
                    <div>
                     {{ form.version.help_text }}
                    </div>
                    {% if form.version.errors %}
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="wizard_field">
                <span>{{ form.workgroup.label_tag }}
                {{ form.workgroup.help_text }}
                The workgroup responsible for maintaining this metadata item.
                </span>
                {% if form.workgroup.errors %}
                <span class="alert alert-danger">
                    {{ form.workgroup.errors }}
                {% endif %}
                {{ form.workgroup }}
                {% if form.workgroup.errors %}
                    </span>
                {% endif %}
            </div>
            <div class="wizard_field">
                <span>{{ form.definition.label_tag }} {{ form.definition.help_text }}</span>
                {% if form.definition.errors %}
                    <span class="alert alert-danger">
                    {{ form.definition.errors }}
                {% endif %}
                {{ form.definition }}
                {% if form.definition.errors %}
                    </span>
                {% endif %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="names">
            <div class="alert alert-info">
                <strong>These fields are optional</strong>
                but give extra context to this item, so add where appropriate.
            </div>

            {% for field in form.concept_fields %}
                <div class="wizard_field">
                    <span>{{ field.label_tag }} {{ field.help_text }}</span>
                    {% if field.errors %}
                    <span class="alert alert-danger">
                        {{ field.errors }}
                    {% endif %}
                    {{ field }}
                    {% if field.errors %}
                        </span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% if form.object_specific_fields %}
        <div role="tabpanel" class="tab-pane" id="objSpecific">
        {% for field in form.object_specific_fields %}
            {% if forloop.first %}
            <div class="alert alert-info">
                <p><strong>These fields are optional</strong>
                but give extra context to this item, so add where appropriate.
                </p>
                <p>Don't worry if you don't fill these out now, these can
                    be filled in at a later stage.
                </p>
            </div>
            {% endif %}
            <div class="wizard_field">
                <span>{{ field.label_tag }} {{ field.help_text }}</span>
                {% if field.errors %}
                <span class="alert alert-danger">
                    {{ field.errors }}
                {% endif %}
                {{ field }}
                {% if field.errors %}
                    </span>
                {% endif %}
            </div>
        {% empty %}
            <div class="alert alert-success">
                <strong>There are no additional fields required to make this {{ model_name }}.</strong>
                You are ready to submit.
            </div>
        {% endfor %}
        </div>
        {% endif %}
        {% if form.change_comments %}
        <div role="tabpanel" class="tab-pane" id="changeComments">
            <div class="alert alert-info">
                <p><strong>Leaving a change message is optional.</strong>
                {% trans %}
                If it is left blank an automatic messages stating which fields
                have been changed will be generated on your behalf.
                </p>
                <p>However, stating <em>why</em> values in fields have changed
                can be much more useful than knowing that a field has changed.
                {% endtrans %}
                </p>
            </div>
            <div class="wizard_field">
            {% with field=form.change_comments %}
                <span>{{ field.label_tag }} {{ field.help_text }}</span>
                {% if field.errors %}
                <span class="alert alert-danger">
                    {{ field.errors }}
                {% endif %}
                {{ field }}
                {% if field.errors %}
                    </span>
                {% endif %}
            {% endwith %}
            </div>
        </div>
        {% endif %}
        {% if help_guide %}
        <div role="tabpanel" class="tab-pane" id="tips">
            {% include help_guide  %}
        </div>
        {% endif %}
    </div>
</div>
