{% extends "aristotle_mdr/base.html" %}
{% load compile_static %}
{% load i18n %}

{% block title %}
Create new {{ model_name }} - Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }} - {{ step_title }}
{% endblock %}

{% block extra_head_scripts %}
    <link rel="stylesheet" href="{{ STATIC_URL }}{% compile 'aristotle_mdr/aristotle.wizard.less' %}" />
    <link rel="stylesheet" href="{{ STATIC_URL }}{% compile 'aristotle_mdr/aristotle_search.less' %}" />
    {% include 'autocomplete_light/static.html' %}
{% endblock %}

{% block content %}
<h1>Create {{ model_name }} - <em>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }} - {{ step_title }}</em></h1>
<div class="row">
    <form class="" action="" method="post">{% csrf_token %}
       {{ wizard.management_form }}
        {% block formarea %}
           {{ wizard.management_form }}
        {% endblock %}

        {% if wizard.steps.prev %}
            <!-- button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "First step" %}</button -->
            <button name="wizard_goto_step" class="btn btn-default" type="submit" value="{{ wizard.steps.prev }}">
                <i class="fa fa-angle-double-left"></i>
                {% trans "Back" %}
            </button>
        {% endif %}
        {% block next_button %}
            <button type="submit" class="btn btn-primary" value="{% trans "submit" %}">
                {% trans "Next" %}
                <i class="fa fa-angle-double-right"></i>
            </button>
        {% endblock %}
    </form>
</div>
{% endblock %}

