{% load i18n aristotle_help %}

{% if form.errors or slots_FormSet.errors or slots_FormSet.non_form_errors %}
    <div class="alert alert-danger">
    {{ form.errors.as_ul }}
    {{slots_FormSet.errors.as_ul}}
    {{slots_FormSet.non_form_errors.as_ul}}
    </div>
{% endif %}

<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#tab_definition" aria-controls="home" role="tab" data-toggle="tab">{% trans 'Definition' context 'creating items' %}</a>
        </li>

        <li role="presentation">
            <a href="#tab_names" aria-controls="profile" role="tab" data-toggle="tab">Names & References</a>
        </li>
        {% if form.object_specific_fields %}
        <li role="presentation">
            <a href="#tab_objSpecific" aria-controls="messages" role="tab" data-toggle="tab">{# { model_name|title } #} {% trans 'Components' context 'For making an item' %}</a>
        </li>
        {% endif %}
        {% if show_slots_tab %}
        <li role="presentation">
            <a href="#tab_slots" aria-controls="messages" role="tab" data-toggle="tab">{% trans 'Slots' context 'When saving changes to an item' %}</a>
        </li>
        {% endif %}
        {% if form.change_comments %}
        <li role="presentation">
            <a href="#tab_changeComments" aria-controls="messages" role="tab" data-toggle="tab">{% trans 'Change message' context 'When saving changes to an item' %}</a>
        </li>
        {% endif %}
        <li role="presentation">
            <a href="#tab_tips" aria-controls="messages" role="tab" data-toggle="tab">{% trans 'Tips and help' context 'creating items' %}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab_definition">
            <div class="alert alert-warning">
                <strong>These fields help identify and define the item.</strong>
                A name and definition are required, but adding a version is optional.
            </div>
            <div class="fancy_name_version">
                <div class="wizard_field name">
                    <span>{{ form.name.label_tag }}</span>
                    {% if form.name.errors %}
                    <span class="alert alert-danger">
                        {{ form.name.errors }}
                    {% endif %}
                        {{ form.name }}
                        <div>
                         {{ form.name.help_text }}
                        </div>
                    {% if form.name.errors %}
                        </span>
                    {% endif %}
                </div>
                <div class="wizard_field version">
                    <span>{{ form.version.label_tag }}</span>
                    {% if form.version.errors %}
                    <span class="alert alert-danger">
                        {{ form.version.errors }}
                    {% endif %}
                    {{ form.version }}
                    <div>
                     {{ form.version.help_text }}
                    </div>
                    {% if form.version.errors %}
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="wizard_field">
                <span>{{ form.workgroup.label_tag }}
                {{ form.workgroup.help_text }}
                The workgroup responsible for maintaining this metadata item.
                </span>
                {% if form.workgroup.errors %}
                <span class="alert alert-danger">
                    {{ form.workgroup.errors }}
                {% endif %}
                {{ form.workgroup }}
                {% if form.workgroup.errors %}
                    </span>
                {% endif %}
            </div>
            <div class="wizard_field">
                <span>{{ form.definition.label_tag }} {{ form.definition.help_text }}</span>
                {% if form.definition.errors %}
                    <span class="alert alert-danger">
                    {{ form.definition.errors }}
                {% endif %}
                {{ form.definition }}
                {% if form.definition.errors %}
                    </span>
                {% endif %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab_names">
            <div class="alert alert-info">
                <strong>These fields are optional</strong>
                but give extra context to this item, so add where appropriate.
            </div>

            {% for field in form.concept_fields %}
                <div class="wizard_field">
                    <span>{{ field.label_tag }} {{ field.help_text }}</span>
                    {% if field.errors %}
                    <span class="alert alert-danger">
                        {{ field.errors }}
                    {% endif %}
                    {{ field }}
                    {% if field.errors %}
                        </span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% if form.object_specific_fields %}
        <div role="tabpanel" class="tab-pane" id="tab_objSpecific">
        {% for field in form.object_specific_fields %}
            {% if forloop.first %}
            <div class="alert alert-info">
                <p><strong>These fields are optional</strong>
                but give extra context to this item, so add where appropriate.
                </p>
                <p>Don't worry if you don't fill these out now, these can
                    be filled in at a later stage.
                </p>
            </div>
            {% endif %}
            <div class="wizard_field">
                <span>{{ field.label_tag }} {{ field.help_text }}</span>
                {% if field.errors %}
                <span class="alert alert-danger">
                    {{ field.errors }}
                {% endif %}
                {{ field }}
                {% if field.errors %}
                    </span>
                {% endif %}
            </div>
        {% endfor %}
        </div>
        {% endif %}
        {% if show_slots_tab %}
        <div role="tabpanel" class="tab-pane" id="tab_slots">
            <div class="alert alert-info">
                <p>Slots can be used to annotate metadata with additional key-value pairs.
                Below are the slots that have been configured to be used with
                your registry for this particular metadata type.
                </p>
            </div>
            {% include 'aristotle_mdr/slots/slots_editor_tab.html' %}
        </div>
        {% endif %}

        {% if form.change_comments %}
        <div role="tabpanel" class="tab-pane" id="tab_changeComments">
            <div class="alert alert-info">
                <p><strong>Leaving a change message is optional.</strong>
                {% blocktrans %}
                If it is left blank an automatic messages stating which fields
                have been changed will be generated on your behalf.
                </p>
                <p>However, stating <em>why</em> values in fields have changed
                can be much more useful than knowing that a field has changed.
                {% endblocktrans %}
                </p>
            </div>
            <div class="wizard_field">
            {% with field=form.change_comments %}
                <span>{{ field.label_tag }} {{ field.help_text }}</span>
                {% if field.errors %}
                <span class="alert alert-danger">
                    {{ field.errors }}
                {% endif %}
                {{ field }}
                {% if field.errors %}
                    </span>
                {% endif %}
            {% endwith %}
            </div>
        </div>
        {% endif %}
        <div role="tabpanel" class="tab-pane" id="tab_tips">

            <h4>How to use this creation wizard</h4>
            <p>
                This wizard is designed to help you create well-defined,
                reusable metadata.

                Each tab in this wizard covers metadata for different purposes:
                <dl>
                    <dt>Definition</dt>
                    <dd>The fields in this tab cover the basic definition
                    of an object fields. <em>Name</em> and <em>Definition</em>
                    are always required, while <em>Version</em> may be 
                    optional depending on your agency.
                    </dd>
                    <dt>Names & References</dt>
                    <dd>
                        The fields in this tab are common to all concepts in this registry 
                    and are all optional. Where possible completing fields adds
                    additional context to metadata to make it more discoverable,
                    complete and resuable.  
                    </dd>
                    <dt>{{ model_name|title }} Components</dt>
                    <dd>
                       The fields in the tab are specific to {{model_name_plural}}
                       and allow for item specific metadata and relations to be 
                       recorded.
                       
                       For more information on {{model_name_plural}}, read the
                        <a href="{% url 'aristotle_help:concept_help' app_label model %}">
                        help page.</a>
                    </dd>
                </dl>
            </p>
            
            {% if help %}
                <h4>Help on {{ model_name_plural }}</h4>
                <strong>For more information on {{model_name_plural}}, read the
                <a href="{% url 'aristotle_help:concept_help' app_label model %}">
                help page.</strong>
                </a>
                <p>
                    {% relink help 'creation_tip' %}
                </p>
            {% endif %}
        </div>
    </div>
</div>
