{% extends "aristotle_mdr/base.html" %}
{% load compile_static i18n %}

{% block title %}
Create Data Element - Step {{ wizard.steps.step1 }}: {{step_title}}
{% endblock %}

{% block extra_head_scripts %}
    <link rel="stylesheet" href="{{ STATIC_URL }}{% compile 'aristotle_mdr/aristotle.wizard.less' %}" />
    <link rel="stylesheet" href="{{ STATIC_URL }}{% compile 'aristotle_mdr/aristotle_search.less' %}" />
    {% include 'autocomplete_light/static.html' %}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<h1>Create Data Element - <span><em>Step {{ wizard.steps.step1 }}</em>: {{step_title}}</span></h1>

<div class="progress">
  <div class="progress-bar" role="progressbar" style="width:{{ percent_complete }}%;">
  </div>
</div>

{% if form.errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> There were errors submitting your form, review the errors below.
</div>
{% endif %}

<section class="creationTips">
    {% block creationTips %}{% endblock %}
</section>

<form action="" method="post">{% csrf_token %}
    {{ wizard.management_form }}
    {% block formarea %}
       {{ wizard.management_form }}
    {% endblock %}

    <div class="modal-footer">
        <button class="btn btn-primary pull-right" type="submit" value="submit">
            {% trans next_button_text %}
        </button>
        {% if wizard.steps.prev %}
            <!-- button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "First step" %}</button -->
            <button class="btn btn-default pull-right" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Back" %}</button>
        {% endif %}
        <a href="{% url 'aristotle:create_list' %}" class="btn btn-danger pull-right">{% trans "Cancel" %}</a>
    </div>
</form>
{% endblock %}

