#Uncomment lines as required

-e git+git://github.com/aristotle-mdr/aristotle-metadata-registry#egg=aristotle-mdr
#!aristotle_dse! -e git+git://github.com/aristotle-mdr/aristotle-dataset-extensions#egg=aristotle-dse
#!aristotle_glossary! -e git+git://github.com/aristotle-mdr/aristotle-glossary#egg=aristotle_glossary
#!aristotle_ddi! -e git+git://github.com/aristotle-mdr/aristotle-ddi-utils#egg=aristotle_ddi