{% extends request.is_ajax|yesno:"aristotle_mdr/base_ajax.html,aristotle_mdr/base.html" %}
{% load compile_static i18n %}

{% block title %}Editing {{ item.name }}{% endblock %}
{% block extra_head_scripts %}
    <link rel="stylesheet" href="{{ STATIC_URL }}{% compile 'aristotle_mdr/aristotle.wizard.less' %}" />
    <link rel="stylesheet" href="{{ STATIC_URL }}{% compile 'aristotle_mdr/aristotle_search.less' %}" />
    {% if request.is_ajax %}
        {{ form.media }}
    {% endif %}
    {% include 'autocomplete_light/static.html' %}
{% endblock %}

{% block content %}

<form method="post" action="{% url 'aristotle:edit_item' item.id %}">{% csrf_token %}{{form.last_fetched}}
    <div class="modal-body">
        <ol class="breadcrumb">
          <li><a href="{% url 'aristotle:item' item.id %}">{{ item.name }}</a></li>
          <li class="active">Advanced editor</li>
        </ol>
        {% if item.is_superseded  %}
            <div class=" alert alert-info">
                {% trans 'This item has been superseded by the newer version,'%}
                <em>{% include "aristotle_mdr/helpers/itemLink.html" with item=item.superseded_by %}</em>.
            </div>
        {% endif %}
        {% if item.is_retired %}
            <div class=" alert alert-warning">
                {% trans 'This item has been retired and is not recommended for use by any registration authority.'%}
            </div>
        {% endif %}
        {% if item.is_public %}
            {# split the if condition as if its public and not technical, we want nothing not one of the lower alerts #}
            <div class='alert alert-danger alert-dismissible'>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {% trans 'This item is currently public.'%}
            </div>
        {% elif item.is_locked %}
            <div class=" alert alert-info">
                {% trans 'This item is currently under development.'%}
            </div>
        {% endif %}

        <div>
        {% include "aristotle_mdr/create/concept_editor.html" with form=form %}
        </div>
    </div>
    <div class="modal-footer">
        {% if request.is_ajax %}
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        {% else %}
            <a class="btn btn-default" href="{% url 'aristotle:item' item.id %}">Cancel</a>
        {% endif %}
        <input type="submit" class="btn btn-primary" value="Save changes" />
    </div>
</form>
{% endblock %}
