{% extends "admin/aristotle_admin_base.html" %}
{% load i18n %}
{% load staticfiles compile_static %}

{% block title %}{{ title }} - {{ config.SITE_NAME }}{% endblock %}

{% block branding %}
{% endblock %}
{% comment %}
{% block branding %}
<a href="{% url 'aristotle:home' %}" style="display:inline-block;color:white;padding-top:8px;padding-left:10px;font-weight:bold;font-size:110%;" id="logo">[ Return to main site ]</a>
{% endblock %}
{% endcomment %}


{% block extrahead %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}{% compile 'aristotle_mdr/aristotle.admin.less' %}" />
    <script src="{% static 'aristotle_mdr/aristotle.admin.js' %}" type="text/javascript"></script>
    {% include 'autocomplete_light/static.html' %}
{% endblock %}
