{% load i18n slot_tags util_tags %}
{% if item.slots.exists %}
<div>
<h2>Additional Attributes</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                {% trans 'Slot name' %}
            </th>
            <th>
                {% trans 'Details' %}
            </th>
            <th>
                {% trans 'Cardinality' %}
            </th>
            <th>
                {% trans 'Value' %}
            </th>
            <th title="Number of items with slots with similar values">Similar
            <i class='fa fa-help'></i>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for slot in item.slots.all|order_by:'type__slot_name' %}
        <tr>
            <td>
                {{ slot.type.slot_name }}
            </td>
            <td>{{slot.type.help_text}}</td>
            <td>{{slot.type.get_cardinality_display}}</td>
            <td>
                {{ slot.value|linebreaks }}
            </td>
            <td>
                <a href="{% url 'aristotle_slots:similar_slots' slot.type.id %}?value={{slot.value}}">
                {% count_similar request.user slot %}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endif %}
